<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test SQL</title>
  {% block styles %}
    <link rel="stylesheet"  type="text/css" href="{{url_for('.static',  filename='style.css')}}">
  {% endblock %}

</head>
<body>
  <h2>Insertar una nueva nota</h2>
  <form action="/sql_insert" method="post">
    <textarea name="note" id="note" cols="30" rows="10"></textarea>
    <button type="submit">Subir</button>
  </form>
</body>
</html>