<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"  type="text/css" href="{{url_for('static',  filename='style.css')}}">
  <title>Notes SQL Select</title>
</head>
<body>
  <div class="note_box">
    <span class="note_id">ID: New Note</span>
    <form class="note_form" action="/sql_insert" method="post">
      <textarea name="note" id="note"></textarea>
    <button type="submit">Subir</button>
  </form>
  </div>
  {%for note in notes%}
  <div class="note_box">
    <span class="note_id">ID: {{note[0]}}</span>
    <p>{{note[1]}}</p>
    <span class="note_timestamp">{{note[2]}}</span>
  </div>
{%endfor%}
</body>
</html>